@tailwind base;
@tailwind components;
@tailwind utilities;
@responsive{
    .bgcolor {
    background: linear-gradient(268.83deg, #76FF61 2.32%, #29ABE2 99.46%), #C4C4C4;
}
  .field-gradient{
    background: radial-gradient(112.5% 112.5% at 50% 50%, #29ABE2 0%, #76FF61 100%), #C4C4C4;
  }
   .btn-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   .white-field{ 
    background: white;
   }
   .txt-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   .btn-nav{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   .bgcolor-button{
    background: linear-gradient(266.19deg, #76FF61 -1.75%, #29ABE2 100%), #FFFFFF;
   }
   .bglogin{
    background: radial-gradient(61.63% 81.47% at 46.28% 55.08%, #76FF61 0%, #29ABE2 100%), #C4C4C4;
   }
   .left-50{ 
     margin-left:50%;
   }
   .-left-50{ 
    margin-left:-50%;
  }
  .account-shadow{
    box-shadow: 0px 2px 30px 6px rgba(0, 0, 0, 0.15);
  }
  .account-sec-shadow{ 
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.3);
  }
  .border-lg{
    border-width: 1px;
  }
  .card{
    background: linear-gradient(246.73deg, #76FF61 -10.83%, #29ABE2 102.66%), #FFFFFF;
    box-shadow: 0px 2px 30px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 246px;
    height: 133px;
  } 
  .transparent{
    background-color: transparent;
  }
  .bg-menu{ 
    background: linear-gradient(222.88deg, #76FF61 11.47%, #29ABE2 90.76%), #C4C4C4;
  }
  .rounded-20{
  border-radius: 20px;
}
.rounded-50{
  border-radius: 50px;
}
}

@layer base {
  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url(/assets/OpenSans-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url(/assets/OpenSans-Light.ttf) format("ttf");
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url(/assets/OpenSans-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url(/assets/OpenSans-Bold.ttf) format("ttf");
    @font-face {
      font-family: OpenSans;
      font-weight: 800;
      src: url(/assets/OpenSans-ExtraBold.ttf) format("ttf");
    }
  }
}
@layer components{
  .calDays{
    margin: auto;
    font: bold;
    
  }
  /* .calDays:hover{
    
  } */
  .daysDiv{
    margin: auto;
    font-weight: 700;
  }
  .daysDiv:hover{
    cursor: pointer;
  }

  .daysDivPicked1{
    padding-left: 3px;
    padding-right: 4px;
    
    border-radius: 50%;

    margin: auto;
    font-weight: 700;
    background-color: #76FF61;
  }

  .daysDivPicked1:hover{
    cursor: pointer;
  }
  
  .daysDivPicked2{
    padding-left: 3px;
    padding-right: 4px;
    
    border-radius: 50%;
    
    margin: auto;
    font-weight: 700;
    background-color: #76FF61;
  }

  .daysDivPicked2:hover{
    cursor: pointer;
  }

  .daysDivHighlighted{
    padding-left: 3px;
    padding-right: 4px;
    
    border-radius: 50%;

    margin: auto;
    font-weight: 700;
    background-color: #29ABE2; 
  }
  .dayNames{
    
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;

    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
  }
  .carsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    position: absolute;
    
    
    left: 20px;
    top: 54px;

  }
  .carDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;


    
    /* width: 375px;
    height: 230px; */
    

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    
  }
  .carDiv1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carDiv2{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carDiv3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
  }
  #carPicture{
    position: static;
    width: 103px;
    height: 60px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    
  }
  .orderButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    position: static;
    width: 114px;
    height: 44px;
    

    background: #000000;
  }
  .orderButtonText{
    position: static;
    
    left: 0px;
    top: 16px;

    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

  }
  #carName{
    margin-bottom: 20px;
  }
  .carIcons{
    margin-left:15px;
    margin-right:15px;
  }
  #carBorder{
    padding: 5px;
    margin: 10px;

    width: 320px;
  }
  
}